# {{ ansible_managed }}

check host {{ item.host }} with address {{ item.address }}
{% if item.checks is defined and item.checks %}
{% for check in item.checks %}
  if failed
    {% if check.port is defined and check.port %}port {{ check.port }}{% endif %}
    {% if check.protocol is defined and check.protocol %}protocol {{ check.protocol }}{% endif %}
    {% if check.type is defined and check.type %}type {{ check.type }}{% endif %}
    {% if check.ssl_options is defined and check.ssl_options %}
    with ssl options { {% for o in check.ssl_options %}{{ o.key }}: {{ o.value }}{% endfor %} }
    {% endif %}
  then {% if item.restarts is defined and item.cycles is defined %}restart{% else %}alert{% endif %}
{% endfor %}
{% endif %}
{% if item.ping is defined and item.ping %}
  if failed ping then {% if item.restarts is defined and item.cycles is defined %}restart{% else %}alert{% endif %}
{% endif %}
{% if item.group is defined and item.group %}
  group {{ item.group }}
{% endif %}
{% if item.passive is defined and item.passive %}
  mode passive
{% endif %}
{% if item.restarts is defined and item.cycles is defined %}
  if {{ item.restarts }} restarts within {{ item.cycles }} cycles then alert
{% endif %}
