###############################################################################
## Monit control file
###############################################################################

###############################################################################
## Global section
###############################################################################

set daemon {{ monit_poll_period }}
{% if monit_poll_start_delay is defined %}
  with start delay {{ monit_poll_start_delay }}
{% endif %}

set log {{ monit_log }}

set idfile /var/.monit.id

set statefile /var/.monit.state

{% if monit_email_enable -%}
set mailserver {{ monit_mailserver_host }}{% if monit_mailserver_port is defined %} port {{ monit_mailserver_port }}{% endif %}

{% if monit_mailserver_username is defined %}  username "{{ monit_mailserver_username }}"{{ '\n' }}{% endif %}
{% if monit_mailserver_password is defined %}  password "{{ monit_mailserver_password }}"{{ '\n' }}{% endif %}
{% if monit_mailserver_encryption is defined %}  using {{ monit_mailserver_encryption }}{{ '\n' }}{% endif %}
{% if monit_mailserver_timeout is defined %}  with timeout {{ monit_mailserver_timeout }} seconds{{ '\n' }}{% endif %}

{% if monit_eventqueue_enable -%}
set eventqueue
  basedir {{ monit_eventqueue_directory }}
  slots {{ monit_eventqueue_slots | default('100') }}
{% endif -%}

set mail-format {
  from: {{ monit_mailformat_from}}
  subject: {{ monit_mailformat_subject }}
  message: {{ monit_mailformat_message }}
}

{% if monit_notify_email is string %}
  set alert {{ monit_notify_email }} NOT ON { action, instance, pid, ppid }
{% else %}
  {% for email in monit_notify_email %}
    set alert {{ email }} NOT ON { action, instance, pid, ppid }
  {% endfor %}
{% endif %}
{% endif -%}

set httpd port {{ monit_port }}
{% if monit_address is defined %}  use address {{ monit_address }}{{ '\n' }}{% endif %}
{% for a in monit_allow %}  allow {{ a }}{{ '\n' }}{% endfor %}
{% if monit_username and monit_password %}  allow {{ monit_username }}:{{ monit_password }}{{ '\n' }}{% endif %}
{% if monit_ssl %}  ssl enable
  pemfile {{ monit_cert }}
{% endif %}

###############################################################################
## Includes
###############################################################################

include /etc/monit.d/*
